testing folder/New folder/message.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT messages (message)+>
<!ATTLIST messages
  xmlns CDATA #FIXED ''>

<!ELEMENT message (from,to)>
<!ATTLIST message
  xmlns CDATA #FIXED ''>

<!ELEMENT from (#PCDATA)>
<!ATTLIST from
  xmlns CDATA #FIXED ''>

<!ELEMENT to (#PCDATA)>
<!ATTLIST to
  xmlns CDATA #FIXED ''>
